{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
	<h1>Reservation</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ reservation.id }}</td>
			</tr>
			<tr>
				<table>
					<tr>
						<th>Livres</th>
						<td>
							{% if reservation.book is defined %}
								{{ reservation.book.title }}
							{% elseif reservation.books is defined %}
								{% for book in reservation.books %}
									{{ book.title }}
									{% if not loop.last %},
									{% endif %}
								{% endfor %}
							{% else %}
								Aucun livre
							{% endif %}
						</td>


					</tr>
				</table>
			</tr>
			<tr>
				<th>Created_at</th>
				<td>{{ reservation.createdAt ? reservation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_reservation_index') }}">Revenir à la liste</a>

	<a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

	{{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
