{% extends 'base.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}
    <h1>Gestion des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                {# <th>Password_hash</th> #}
                {# <th>Role</th>
                <th>Created_at</th> #}
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                {# <td>{{ user.password }}</td> #}
                {# <td>{{ user.role }}</td> #}
                {# <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Voir l'utlisateur</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier l'utilisateur</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Créer un nouvel utilisateur</a>
{% endblock %}
